- [수치](#수치)
    - [연산](#연산)
    - [변수](#변수)
- [문자열](#문자열)
    - [문자열의 기본](#문자열의 기본)
    - [문자열의 연산](#문자열의 연산)
    - [f-strings](#f-strings)
- [주석](#주석)
- [리스트](#리스트)
    - [리스트의 기본](#리스트의 기본)
    - [리스트의 연산](#리스트의 연산)
- [사전](#사전)
- [if문](#if문)
- [for문](#for문)
- [리스트 내부 표기](#리스트 내부 표기)
- [함수](#함수)

# 수치

### 연산

덧셈

In [1]:
1 + 1

2

곱셈

In [2]:
2 * -3

-6

나눗셈

In [3]:
4 / 3

1.3333333333333333

몫

In [4]:
4 // 3

1

나머지

In [5]:
4 % 3

1

제곱

In [6]:
3 ** 2

9

비교연산자

In [7]:
2 < 3

True

### 변수

In [8]:
a = 2

In [9]:
a

2

In [10]:
a = a + 3
a

5

In [11]:
a /= 2
a

2.5

# 문자열

### 문자열의 기본

문자열은 작은 따옴표로 둘러쌉니다

In [12]:
'Hello World!'

'Hello World!'

큰 따옴표도 동일하지만, 이 책에서는 작은 따옴표를 이용합니다

In [13]:
"Hello World!"

'Hello World!'

한글로 동일하게 다룰 수 있씁니다

In [1]:
'박혜자 안녕！'

'박혜자 안녕！'

print문으로도 표시할 수 있습니다

In [15]:
print('Hello', 'World')

Hello World

## 문자열의 연산

In [16]:
a = 'Hello'
b = 'World'

문자열은 +로 결합할 수 있습니다

In [17]:
a + b

'HelloWorld'

슬라이스로 문자열의 일부분을 추출할 수 있습니다  
2문자열까지 추출해보겠습니다

In [18]:
a[:2]

'He'

3문자열부터 4문자열까지

In [19]:
a[2:4]

'll'

### f-strings

In [20]:
a = 'test'
b = 3

f-strings을 사용하여、문자열 내의 변수를 그대로 출력할 수 있습니다

In [21]:
f'{a} is {b}'

'test is 3'

In [22]:
c = 100 / 7
c

14.285714285714286

다음과 같이 자리수 조정을 할 수 있습니다

In [23]:
f'{c:.2f}'

'14.29'

상세한 내용은
https://note.nkmk.me/python-f-strings/
등을 참고하면 됩니다

# 주석

'#' 이후의 문자는 주석으로 취급됩니다

In [3]:
a = 3 + 4
# 이 행은 주석으로 영향이 없습니다
a

7

In [4]:
b = 2 * 4 # 여기에 작성해도 무방합니다
b

8

# 리스트

## 리스트의 기본

Python의 리스트는 []로 둘러쌉니다

In [26]:
[2, 3, 4]

[2, 3, 4]

리스트의 요소는 동일한 종류가 아니어도 문제가 없습니다

In [5]:
[2, '문자열', [2, 3]]

[2, '문자열', [2, 3]]

리스트를 끼워 넣음으로써 다차원 배열을 만듭니다

In [28]:
[[1, 2], [2, 3]]

[[1, 2], [2, 3]]

## 리스트의 연산

In [29]:
a = [1, 2, 3]
b = [3, 4, 5, 6]

리스트 연결

In [30]:
a + b

[1, 2, 3, 3, 4, 5, 6]

리스트 추가

In [31]:
a.append(3)
a

[1, 2, 3, 3]

슬라이스

In [32]:
b[:3]

[3, 4, 5]

In [33]:
b[1:3]

[4, 5]

# 사전

In [6]:
d = {'python': 2, '통계': 3}
d

{'python': 2, '통계': 3}

In [35]:
d['python']

2

In [7]:
d.keys()

dict_keys(['python', '통계'])

In [37]:
d.values()

dict_values([2, 3])

# if문

In [8]:
x = 2
if x < 3:
    print(f'{x}는 3보다 작다')
else:
    print(f'{x}는 3 이상')

2는 3보다 작다

# for문

In [39]:
for i in range(5):
    print(i)

0
1
2
3
4

# 리스트 내부 표기

예를 들면, 0부터 8까지의 짝수 리스트를 만들고 싶을 때

In [40]:
a = []
for i in range(5):
    a.append(2 * i)
    
a

[0, 2, 4, 6, 8]

In [41]:
[2 * i for i in range(5)]

[0, 2, 4, 6, 8]

In [42]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [43]:
[i if i%2 == 0 else 1 for i in range(10)]

[0, 1, 2, 1, 4, 1, 6, 1, 8, 1]

# 함수

In [44]:
def test(a, b):
    return a + b

In [45]:
test(2, 3)

5